Repository Space-Factory-14/space-factory-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

"Map":
 - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

Update ConveyorController.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
Labels: C#

Update SaveLoadSaveTest.cs
  Content.IntegrationTests/Tests/SaveLoadSaveTest.cs
Labels: C#

Belt
  Resources/Prototypes/Entities/Structures/conveyor.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/_SF/Structures/conveyor.rsi/conveyor_loose.png
Labels: Sprites

Conveyor belts (#14)
  Content.IntegrationTests/Tests/SaveLoadSaveTest.cs
  Content.Server/Clothing/MagbootsSystem.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Content.Shared/Conveyor/ConveyorComponent.cs
  Content.Shared/Conveyor/IgnoreConveyorComponent.cs
  Content.Shared/Physics/Controllers/SharedConveyorController.cs
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Structures/conveyor.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/_SF/Structures/conveyor.rsi/conveyor_loose.png
  Resources/Textures/_SF/Structures/conveyor.rsi/conveyor_started_ccw.png
  Resources/Textures/_SF/Structures/conveyor.rsi/conveyor_started_ccw_r.png
  Resources/Textures/_SF/Structures/conveyor.rsi/conveyor_started_cw.png
  Resources/Textures/_SF/Structures/conveyor.rsi/conveyor_started_cw_r.png
  Resources/Textures/_SF/Structures/conveyor.rsi/conveyor_stopped_ccw.png
  Resources/Textures/_SF/Structures/conveyor.rsi/conveyor_stopped_cw.png
  Resources/Textures/_SF/Structures/conveyor.rsi/greenlight.png
  Resources/Textures/_SF/Structures/conveyor.rsi/meta.json
  Resources/Textures/_SF/Structures/conveyor.rsi/redlight.png
  Resources/Textures/_SF/Structures/conveyor.rsi/switch-fwd.png
  Resources/Textures/_SF/Structures/conveyor.rsi/switch-off.png
  Resources/Textures/_SF/Structures/conveyor.rsi/switch-rev.png
  Resources/Textures/_SF/Structures/conveyor.rsi/switch.png
Labels: Sprites, C#

Update radio_channels.yml
  Resources/Prototypes/radio_channels.yml
Labels: none

Remove Keys
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
Labels: none

Keys
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
Labels: none

Keys, again
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
Labels: none

More
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/Player/narsie.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
Labels: none

Update anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
Labels: none

Fix
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/Entities/Structures/Machines/salvage.yml
Labels: none

Update radio.yml
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
Labels: none

Update subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: none

Update subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: none

Update pai.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Labels: none

Update radio.yml
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
Labels: none

Fix
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: none

Fix
  Content.Server/Anomaly/Components/AnomalyGeneratorComponent.cs
  Content.Server/Research/Components/ResearchConsoleComponent.cs
  Content.Server/Salvage/SalvageSystem.Magnet.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/CriminalRecords/Components/CriminalRecordsConsoleComponent.cs
  Content.Shared/Implants/Components/RattleComponent.cs
Labels: C#

Fix
  Content.IntegrationTests/Tests/EncryptionKeys/RemoveEncryptionKeys.cs
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
Labels: C#

Update headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
Labels: none

Update headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
Labels: none

Update headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
Labels: none

Remove all radio exept engi (#15)
  Content.IntegrationTests/Tests/EncryptionKeys/RemoveEncryptionKeys.cs
  Content.Server/Anomaly/Components/AnomalyGeneratorComponent.cs
  Content.Server/Research/Components/ResearchConsoleComponent.cs
  Content.Server/Salvage/SalvageSystem.Magnet.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/CriminalRecords/Components/CriminalRecordsConsoleComponent.cs
  Content.Shared/Implants/Components/RattleComponent.cs
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/Player/narsie.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/salvage.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
  Resources/Prototypes/radio_channels.yml
Labels: C#

Fix
  Content.Server/_SF/GameTicking/Rules/Components/ShipwreckedRuleComponent.cs
  Content.Server/_SF/GameTicking/Rules/ShipwreckedRuleSystem.cs
  Resources/Prototypes/Body/Organs/Animal/animal.yml
Labels: C#

Door Remote Changelog Entry (#25144)
  Resources/Changelog/Parts/doorRemote.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
  Resources/Changelog/Parts/doorRemote.yml
Labels: none

Lowered Ion Storm Reoccurence Delay to 20 (#25135)
  Resources/Prototypes/GameRules/events.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Re-added shivs to crafting menus (#25094)
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/shiv.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
Labels: none

Color Tipped Ammo (#25103)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/ammo_casing.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/ammo_casing.rsi/tip.png
Labels: Sprites

Update Core (#24862)
  Resources/Maps/core.yml
  Resources/Prototypes/Parallaxes/core.yml
  Resources/Textures/Parallaxes/attributions.yml
  Resources/Textures/Parallaxes/core_planet.png
  Resources/Textures/Parallaxes/meta.json
Labels: Map

Add overlay decals for mini tiles and bricks (#24949)
  Resources/Prototypes/Decals/Overlays/grayscale.yml
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_box.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_corner_ne.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_corner_nw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_corner_se.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_corner_sw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_end_e.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_end_n.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_end_s.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_end_w.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_line_e.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_line_n.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_line_s.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_line_w.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/meta.json
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_box.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_corner_ne.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_corner_nw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_corner_se.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_corner_sw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_end_e.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_end_n.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_end_s.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_end_w.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_inner_ne.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_inner_nw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_inner_se.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_inner_sw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_line_e.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_line_n.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_line_s.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_line_w.png
Labels: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Buyable Jani Trolley (#25139)
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/icon-cart.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/meta.json
Labels: Sprites

Added display for amount of hits left in stun batons/stun prods. (#25141)
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Resources/Locale/en-US/weapons/melee/melee.ftl
Labels: C#, FTL

autolatheable air tanks (#25130)
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
Labels: none

Fix pointing arrow trajectory (#25061)
  Content.Client/Pointing/PointingSystem.Visualizer.cs
Labels: C#

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

make linking logic gates 1000% better (#25041)
  Content.Client/NetworkConfigurator/NetworkConfiguratorLinkMenu.xaml.cs
  Content.Server/DeviceLinking/Systems/DeviceLinkSystem.cs
  Content.Server/DeviceLinking/Systems/DoorSignalControlSystem.cs
  Content.Shared/DeviceLinking/DeviceLinkSourceComponent.cs
  Content.Shared/DeviceLinking/SharedDeviceLinkSystem.cs
  Content.Shared/DeviceNetwork/NetworkConfiguratorUserInterfaceState.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Entities/Structures/gates.yml
Labels: UI, C#
