Repository Space-Factory-14/space-factory-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map, Sprites, UI, C#, Docs, FTL

Buff emergency toolbox fill (#24225)
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Void jetpack resprite (#25150)
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/icon-on.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/icon.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/inhand-left.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/inhand-right.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/meta.json
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/on-equipped-BACKPACK.png
Labels: Sprites

Allow configuring gen_build_info.py through environment variables (#25162)
  Tools/gen_build_info.py
Labels: none

Fix spelling errors in mechs.yml (#25168)
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Significantly nerf Deathnettles (#25068)
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Allow inspecting ID's and Health of people behind glass (#25163)
  Content.Shared/Examine/ExamineSystemShared.cs
Labels: C#

fix showhealthbars perms (#25157)
  Resources/clientCommandPerms.yml
Labels: none

Fix decal error spam (#25172)
  Content.Client/Decals/Overlays/DecalOverlay.cs
Labels: C#

Added "wink" and "tearfully smiles" emotes + more cry emote variations (#25129)
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Resources/Locale/en-US/chat/sanitizer-replacements.ftl
Labels: C#, FTL

Restore MonoOverlay (#25170)
  Resources/Prototypes/Decals/Overlays/grayscale.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

The medical beret is real (#25176)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/meta.json
Labels: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fixed Tipped ammo not being Spent (#25167)
  Content.Client/Weapons/Ranged/Components/SpentAmmoVisualsComponent.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.SpentAmmo.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
Labels: C#

Hoods and some chaplain's hats now hides hair (#25142)
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Glassbox shatter resprite (#25136)
  Resources/Textures/Structures/Storage/glassbox.rsi/DamageOverlay_12.png
  Resources/Textures/Structures/Storage/glassbox.rsi/DamageOverlay_4.png
  Resources/Textures/Structures/Storage/glassbox.rsi/DamageOverlay_8.png
  Resources/Textures/Structures/Storage/glassbox.rsi/glass-4.png
  Resources/Textures/Structures/Storage/glassbox.rsi/meta.json
Labels: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Decrease the chemical cost of regen mesh and sutures and move them to their own file (#24948)
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Cooking/medical_recipes.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Split slime marking leg gradient (#24928)
  Resources/Locale/en-US/markings/slimeperson.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/slime.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Textures/Mobs/Customization/slime_parts.rsi/gradient_l_foot.png
  Resources/Textures/Mobs/Customization/slime_parts.rsi/gradient_l_leg.png
  Resources/Textures/Mobs/Customization/slime_parts.rsi/gradient_r_foot.png
  Resources/Textures/Mobs/Customization/slime_parts.rsi/gradient_r_leg.png
  Resources/Textures/Mobs/Customization/slime_parts.rsi/meta.json
Labels: Sprites, FTL

Add verbs to Open/Close Openable containers, and add optional seals (#24780)
  Content.Server/Nutrition/Components/OpenableComponent.cs
  Content.Server/Nutrition/EntitySystems/OpenableSystem.cs
  Content.Shared/Nutrition/Components/SealableComponent.cs
  Content.Shared/Nutrition/Components/SharedFoodComponent.cs
  Content.Shared/Nutrition/EntitySystems/SealableSystem.cs
  Content.Shared/Nutrition/EntitySystems/SharedOpenableSystem.cs
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/bottle_close1.ogg
  Resources/Locale/en-US/nutrition/components/drink-component.ftl
  Resources/Locale/en-US/nutrition/components/openable-component.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks-cartons.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/SoundCollections/drink_close_sounds.yml
Labels: C#, FTL

Require plants to be harvestable before sampling (#24851)
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Resources/Locale/en-US/botany/components/plant-holder-component.ftl
Labels: C#, FTL

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Shadow anomaly returns (#24629)
  Content.Server/Flash/Components/DamagedByFlashingComponent.cs
  Content.Server/Flash/DamagedByFlashingSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Shared/Flash/FlashableComponent.cs
  Resources/Audio/Ambience/anomaly_scary.ogg
  Resources/Audio/Ambience/attributions.yml
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/Entities/Effects/portal.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/shadowkudzu.yml
  Resources/Prototypes/Entities/Mobs/NPCs/shadows.yml
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
  Resources/Prototypes/Entities/Objects/base_shadow.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
  Resources/Prototypes/audio.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Effects/spookysmoke.rsi/meta.json
  Resources/Textures/Effects/spookysmoke.rsi/spookysmoke.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/shadow_core.rsi/core.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/shadow_core.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/Cores/shadow_core.rsi/pulse.png
  Resources/Textures/Structures/Specific/Anomalies/shadow_anom.rsi/anom.png
  Resources/Textures/Structures/Specific/Anomalies/shadow_anom.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/shadow_anom.rsi/pulse.png
Labels: Sprites, C#, FTL

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Microwave UX enhancements (#24547)
  Content.Client/Kitchen/UI/MicrowaveBoundUserInterface.cs
  Content.Client/Kitchen/UI/MicrowaveMenu.xaml
  Content.Client/Kitchen/UI/MicrowaveMenu.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Shared/Kitchen/Components/SharedMicrowave.cs
  Resources/Locale/en-US/kitchen/components/microwave-component.ftl
Labels: UI, C#, FTL

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Anomaly Synchronizer + Signallers tweaks (#24461)
  Content.Server/Anomaly/AnomalySynchronizerSystem.cs
  Content.Server/Anomaly/Components/AnomalySynchronizerComponent.cs
  Resources/Prototypes/Entities/Objects/Devices/Electronics/signaller.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_sync.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/Objects/Devices/signaller.rsi/meta.json
  Resources/Textures/Objects/Devices/signaller.rsi/signaller2.png
Labels: Sprites, C#

saltern update (#25182)
  Resources/Maps/saltern.yml
Labels: Map

Allow players to run saveconfig command. (#25200)
  Resources/clientCommandPerms.yml
Labels: none

Revert "Allow configuring gen_build_info.py through environment variables" (#25201)
  Tools/gen_build_info.py
Labels: none

Fax machines can print from text file (#23262)
  Content.Client/Fax/UI/FaxBoundUi.cs
  Content.Client/Fax/UI/FaxWindow.xaml
  Content.Client/Fax/UI/FaxWindow.xaml.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Shared/Fax/SharedFax.cs
  Resources/Locale/en-US/fax/fax.ftl
Labels: UI, C#, FTL

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Balanced ChemVend Stock (#25207)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
Labels: none

.github/labeler.yml:

"Map":
 - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
