Repository Space-Factory-14/space-factory-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map, Sprites, UI, C#, Docs, FTL

Mapping
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/debug.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/reach.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: none

Here we go
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/reach.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/_SF/Maps/testing.yml
Labels: none

Update ignoredPrototypes.yml
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
Labels: none

Update PostMapInitTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: C#

Update dev_map.yml
  Resources/Maps/Test/dev_map.yml
Labels: Map

Update PostMapInitTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: C#

fix..
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Prototypes/_SF/Maps/testingmap.yml
Labels: C#

Update MapLoadBenchmark.cs
  Content.Benchmarks/MapLoadBenchmark.cs
Labels: C#

Welp
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Prototypes/game_presets.yml
Labels: none

Update ignoredPrototypes.yml
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
Labels: none

Here we go again
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
Labels: none

Update deathmatch.yml
  Resources/Prototypes/Maps/Pools/deathmatch.yml
Labels: none

Update PostMapInitTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: C#

Test map (#5)
  Content.Benchmarks/MapLoadBenchmark.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Maps/Test/dev_map.yml
  Resources/Maps/_SF/testingmap.yml
  Resources/Prototypes/Maps/Pools/deathmatch.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/debug.yml
  Resources/Prototypes/_SF/Maps/testingmap.yml
  Resources/Prototypes/game_presets.yml
Labels: Map, C#

Update departments.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: none

Holy hell
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
Labels: none

Update airlock_groups.yml
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
Labels: none

Update access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Labels: none

Update base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
Labels: none

Fix
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
Labels: none

Update ignoredPrototypes.yml
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
Labels: none

Update uplink_catalog.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: none

Update audio.yml
  Resources/Prototypes/audio.yml
Labels: none

Departments (#6)
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/audio.yml
Labels: none

Update chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
Labels: none

mapping
  Content.Benchmarks/MapLoadBenchmark.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Maps/_SF/emergency_planet.yml
  Resources/Maps/_SF/testingmap.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_SF/Maps/Pools/planet.yml
  Resources/Prototypes/_SF/Maps/emergency_planet.yml
Labels: Map, C#

Update emergency_planet.yml
  Resources/Maps/_SF/emergency_planet.yml
Labels: Map

Update emergency_planet.yml
  Resources/Maps/_SF/emergency_planet.yml
Labels: Map

Update emergency_planet.yml
  Resources/Maps/_SF/emergency_planet.yml
Labels: Map

Map
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_SF/planet.yml
  Resources/Prototypes/_SF/Maps/Pools/planet.yml
  Resources/Prototypes/_SF/Maps/planet.yml
Labels: Map, C#

Update planet.yml
  Resources/Maps/_SF/planet.yml
Labels: Map

Update planet.yml
  Resources/Maps/_SF/planet.yml
Labels: Map

Update planet.yml
  Resources/Maps/_SF/planet.yml
Labels: Map

Fix test
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_SF/planet.yml
  Resources/Prototypes/_SF/Maps/planet.yml
Labels: Map, C#

Update StationEmergencyShuttleComponent.cs
  Content.Server/Shuttles/Components/StationEmergencyShuttleComponent.cs
Labels: C#

Update EmergencyShuttleSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: C#

Update EmergencyShuttleSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: C#

Update EmergencyShuttleSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: C#

Update EmergencyShuttleSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: C#

Update EmergencyShuttleSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: C#

.github/labeler.yml:

"Map":
 - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
