Repository Space-Factory-14/space-factory-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map, Sprites, UI, C#, Docs, FTL

Update FloorTileSystem.cs
  Content.Shared/Tiles/FloorTileSystem.cs
Labels: C#

I NEED MORE BULLETS (#22)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: none

Update FloorTileSystem.cs (#23)
  Content.Shared/Tiles/FloorTileSystem.cs
Labels: C#

StartingGear
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
Labels: none

Planet
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Resources/Maps/_SF/planet.yml
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/_SF/Procedural/biome_templates.yml
Labels: Map, C#

StartingGear (#24)
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
Labels: none

Planet (#25)
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Resources/Maps/_SF/planet.yml
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/_SF/Procedural/biome_templates.yml
Labels: Map, C#

GeneralFix
  Resources/Maps/_SF/planet.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_SF/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/_SF/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/_SF/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/_SF/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/_SF/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_SF/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_SF/Entities/Objects/Devices/pda.yml
Labels: Map

Update vests.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
Labels: none

More Edits
  Content.Shared/_NF/CCVars/CCVars.cs
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/_SF/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_SF/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_SF/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_SF/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/_SF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_SF/Maps/planet.yml
Labels: C#

Respawn
  Content.Client/UserInterface/Systems/Ghost/Controls/GhostRespawnRulesWindow.xaml
  Content.Client/UserInterface/Systems/Ghost/Controls/GhostRespawnRulesWindow.xaml.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/_NF/GhostRespawnCommand.cs
  Content.Shared/_NF/CCVars/CCVars.cs
  Resources/Locale/en-US/_NF/respawn/respawn-system.ftl
Labels: UI, C#, FTL

Update headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
Labels: none

2024 02 27 general edits (#26)
  Content.Shared/_NF/CCVars/CCVars.cs
  Resources/Maps/_SF/planet.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_SF/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/_SF/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_SF/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_SF/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/_SF/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/_SF/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_SF/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/_SF/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_SF/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_SF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_SF/Maps/planet.yml
Labels: Map, C#

Lobby
  Content.Server/GameTicking/GameTicker.LobbyMusic.cs
  Resources/Audio/_SF/Lobby/attributions.yml
  Resources/Audio/_SF/Lobby/factorio_main_menu.ogg
  Resources/Prototypes/_SF/SoundCollections/lobby.yml
  Resources/Prototypes/lobbyscreens.yml
Labels: C#

Respawn (#27)
  Content.Client/UserInterface/Systems/Ghost/Controls/GhostRespawnRulesWindow.xaml
  Content.Client/UserInterface/Systems/Ghost/Controls/GhostRespawnRulesWindow.xaml.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/_NF/GhostRespawnCommand.cs
  Content.Shared/_NF/CCVars/CCVars.cs
  Resources/Locale/en-US/_NF/respawn/respawn-system.ftl
Labels: UI, C#, FTL

Update attributions.yml
  Resources/Audio/_SF/Lobby/attributions.yml
Labels: none

Update attributions.yml
  Resources/Audio/_SF/Lobby/attributions.yml
Labels: none

Update attributions.yml
  Resources/Audio/_SF/Lobby/attributions.yml
Labels: none

Lobby Edit (#28)
  Content.Server/GameTicking/GameTicker.LobbyMusic.cs
  Resources/Audio/_SF/Lobby/attributions.yml
  Resources/Audio/_SF/Lobby/factorio_main_menu.ogg
  Resources/Prototypes/_SF/SoundCollections/lobby.yml
  Resources/Prototypes/lobbyscreens.yml
Labels: C#

Update ConveyorController.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
Labels: C#

.github/labeler.yml:

"Map":
 - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
