Repository Space-Factory-14/space-factory-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map, Sprites, UI, C#, Docs, FTL

fix
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: C#

Update PostMapInitTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: C#

Planet
  Content.Server/_SF/GameTicking/Rules/Components/ShipwreckedRuleComponent.cs
  Content.Server/_SF/GameTicking/Rules/ShipwreckedRuleSystem.cs
  Content.Server/_SF/Shipwrecked/Components/ShipwreckSurvivorComponent.cs
  Content.Server/_SF/Shipwrecked/Prototypes/ShipwreckDestinationPrototype.cs
  Content.Server/_SF/Shipwrecked/Prototypes/ShipwreckFactionPrototype.cs
  Resources/Prototypes/_SF/game_presets.yml
Labels: C#

Fix
  Content.Benchmarks/MapLoadBenchmark.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: C#

This test giving me cancer
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: C#

Update events.yml
  Resources/Prototypes/GameRules/events.yml
Labels: none

Fix
  Content.Server/Shuttles/Components/StationEmergencyShuttleComponent.cs
  Resources/Prototypes/_SF/Maps/planet.yml
Labels: C#

Update threats.yml
  Resources/Prototypes/threats.yml
Labels: none

Update midround.yml
  Resources/Prototypes/GameRules/midround.yml
Labels: none

Remove Events (#8)
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/threats.yml
Labels: none

Base map (#7)
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Shuttles/Components/StationEmergencyShuttleComponent.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Maps/_SF/planet.yml
  Resources/Maps/_SF/testingmap.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_SF/Maps/Pools/planet.yml
  Resources/Prototypes/_SF/Maps/planet.yml
Labels: Map, C#

Update planet.yml
  Resources/Maps/_SF/planet.yml
Labels: Map

Update planet.yml (#9)
  Resources/Maps/_SF/planet.yml
Labels: Map

Fix
  Content.Server/_SF/GameTicking/Rules/ShipwreckedRuleSystem.cs
Labels: C#

Update ShipwreckSurvivorComponent.cs
  Content.Server/_SF/Shipwrecked/Components/ShipwreckSurvivorComponent.cs
Labels: C#

Update EntryPoint.cs
  Content.Client/Entry/EntryPoint.cs
Labels: C#

Update EntryPoint.cs
  Content.Client/Entry/EntryPoint.cs
Labels: C#

array error
  Content.Client/Entry/EntryPoint.cs
  Content.Server/_SF/GameTicking/Rules/Components/ShipwreckedRuleComponent.cs
  Content.Server/_SF/GameTicking/Rules/ShipwreckedRuleSystem.cs
  Content.Server/_SF/Shipwrecked/Prototypes/ShipwreckDestinationPrototype.cs
  Content.Server/_SF/Shipwrecked/Prototypes/ShipwreckFactionPrototype.cs
  Resources/Prototypes/_SF/GameRules/roundstart.yml
Labels: C#

Heck
  Content.Server/_SF/GameTicking/Rules/ShipwreckedRuleSystem.cs
  Resources/Locale/en-US/_SF/game-ticking/game-presets/preset-shipwrecked.ftl
  Resources/Prototypes/_SF/Entities/Stations/nanotrasen.yml
Labels: C#, FTL

Planet Time
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/_SF/GameTicking/Rules/ShipwreckedRuleSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/_SF/CCVars/CCVars.cs
  Resources/Locale/en-US/_SF/game-ticking/game-presets/preset-shipwrecked.ftl
  Resources/Maps/_SF/planet.yml
Labels: Map, C#, FTL

FTL To planet (#10)
  Content.Client/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/_SF/GameTicking/Rules/Components/ShipwreckedRuleComponent.cs
  Content.Server/_SF/GameTicking/Rules/ShipwreckedRuleSystem.cs
  Content.Server/_SF/Shipwrecked/Components/ShipwreckSurvivorComponent.cs
  Content.Server/_SF/Shipwrecked/Prototypes/ShipwreckDestinationPrototype.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/_SF/CCVars/CCVars.cs
  Resources/Locale/en-US/_SF/game-ticking/game-presets/preset-shipwrecked.ftl
  Resources/Maps/_SF/planet.yml
  Resources/Prototypes/_SF/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_SF/GameRules/roundstart.yml
  Resources/Prototypes/_SF/game_presets.yml
Labels: Map, C#, FTL

Update GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: C#

BaseLine
  Content.Server/Fluids/EntitySystems/PuddleSystem.Evaporation.cs
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/_SF/Entities/Mobs/Species/base.yml
Labels: C#

More FIxing
  Content.IntegrationTests/Tests/Fluids/FluidSpillTest.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.Evaporation.cs
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: C#

Update animal.yml
  Resources/Prototypes/Body/Organs/Animal/animal.yml
Labels: none

Update animal.yml
  Resources/Prototypes/Body/Organs/Animal/animal.yml
Labels: none

Human BaseLine (#11)
  Content.IntegrationTests/Tests/Fluids/FluidSpillTest.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.Evaporation.cs
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_SF/Entities/Mobs/Species/base.yml
Labels: C#

Radio
  Resources/Prototypes/radio_channels.yml
Labels: none

Crafting
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Entities/Structures/conveyor.yml
  Resources/Prototypes/Recipes/Construction/clothing.yml
  Resources/Prototypes/Recipes/Construction/fun.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/materials.yml
  Resources/Prototypes/Recipes/Construction/modular.yml
  Resources/Prototypes/Recipes/Construction/storage.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/Recipes/Construction/tools.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Prototypes/Recipes/Construction/web.yml
  Resources/Prototypes/Recipes/Crafting/artifact.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Prototypes/Recipes/Crafting/crates.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Recipes/Crafting/potato.yml
  Resources/Prototypes/Recipes/Crafting/smokeables.yml
  Resources/Prototypes/Recipes/Crafting/tallbox.yml
  Resources/Prototypes/Recipes/Crafting/tiles.yml
  Resources/Prototypes/Recipes/Crafting/toys.yml
  Resources/Prototypes/Recipes/Crafting/web.yml
Labels: none

Radio (#12)
  Resources/Prototypes/radio_channels.yml
Labels: none

Update conveyor.yml
  Resources/Prototypes/Entities/Structures/conveyor.yml
Labels: none

Test run
  Content.Server/Clothing/MagbootsSystem.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Content.Shared/Conveyor/ConveyorComponent.cs
  Content.Shared/Physics/Controllers/SharedConveyorController.cs
  Resources/Prototypes/Entities/Structures/conveyor.yml
  Resources/Textures/_SF/Structures/conveyor.rsi/conveyor_loose.png
  Resources/Textures/_SF/Structures/conveyor.rsi/conveyor_started_ccw.png
  Resources/Textures/_SF/Structures/conveyor.rsi/conveyor_started_ccw_r.png
  Resources/Textures/_SF/Structures/conveyor.rsi/conveyor_started_cw.png
  Resources/Textures/_SF/Structures/conveyor.rsi/conveyor_started_cw_r.png
  Resources/Textures/_SF/Structures/conveyor.rsi/conveyor_stopped_ccw.png
  Resources/Textures/_SF/Structures/conveyor.rsi/conveyor_stopped_cw.png
  Resources/Textures/_SF/Structures/conveyor.rsi/greenlight.png
  Resources/Textures/_SF/Structures/conveyor.rsi/meta.json
  Resources/Textures/_SF/Structures/conveyor.rsi/redlight.png
  Resources/Textures/_SF/Structures/conveyor.rsi/switch-fwd.png
  Resources/Textures/_SF/Structures/conveyor.rsi/switch-off.png
  Resources/Textures/_SF/Structures/conveyor.rsi/switch-rev.png
  Resources/Textures/_SF/Structures/conveyor.rsi/switch.png
Labels: Sprites, C#

Hide
  Resources/Prototypes/Recipes/Construction/clothing.yml
  Resources/Prototypes/Recipes/Construction/fun.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/modular.yml
  Resources/Prototypes/Recipes/Construction/storage.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/Recipes/Construction/tools.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Prototypes/Recipes/Construction/web.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Recipes/Crafting/potato.yml
  Resources/Prototypes/Recipes/Crafting/smokeables.yml
  Resources/Prototypes/Recipes/Crafting/tallbox.yml
  Resources/Prototypes/Recipes/Crafting/tiles.yml
  Resources/Prototypes/Recipes/Crafting/toys.yml
  Resources/Prototypes/Recipes/Crafting/web.yml
Labels: none

fix
  Resources/Prototypes/Recipes/Construction/materials.yml
  Resources/Prototypes/Recipes/Crafting/artifact.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Prototypes/Recipes/Crafting/crates.yml
  Resources/Prototypes/Recipes/Crafting/smokeables.yml
Labels: none

Update utilities.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: none

Crafting (#13)
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Recipes/Construction/clothing.yml
  Resources/Prototypes/Recipes/Construction/fun.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/materials.yml
  Resources/Prototypes/Recipes/Construction/modular.yml
  Resources/Prototypes/Recipes/Construction/storage.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/Recipes/Construction/tools.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Prototypes/Recipes/Construction/web.yml
  Resources/Prototypes/Recipes/Crafting/artifact.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Prototypes/Recipes/Crafting/crates.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Recipes/Crafting/potato.yml
  Resources/Prototypes/Recipes/Crafting/smokeables.yml
  Resources/Prototypes/Recipes/Crafting/tallbox.yml
  Resources/Prototypes/Recipes/Crafting/tiles.yml
  Resources/Prototypes/Recipes/Crafting/toys.yml
  Resources/Prototypes/Recipes/Crafting/web.yml
Labels: none

Magboots
  Content.Server/Clothing/MagbootsSystem.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Content.Shared/Conveyor/IgnoreConveyorComponent.cs
  Content.Shared/Physics/Controllers/SharedConveyorController.cs
Labels: C#

Speed it up
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
Labels: none

Update magboots.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
Labels: none

Update ConveyorController.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
Labels: C#

.github/labeler.yml:

"Map":
 - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
