Repository Space-Factory-14/space-factory-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map, Sprites, UI, C#, Docs, FTL

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Buff emergency toolbox fill (#24225)
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
Labels: none

make linking logic gates 1000% better (#25041)
  Content.Client/NetworkConfigurator/NetworkConfiguratorLinkMenu.xaml.cs
  Content.Server/DeviceLinking/Systems/DeviceLinkSystem.cs
  Content.Server/DeviceLinking/Systems/DoorSignalControlSystem.cs
  Content.Shared/DeviceLinking/DeviceLinkSourceComponent.cs
  Content.Shared/DeviceLinking/SharedDeviceLinkSystem.cs
  Content.Shared/DeviceNetwork/NetworkConfiguratorUserInterfaceState.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Entities/Structures/gates.yml
Labels: UI, C#

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Void jetpack resprite (#25150)
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/icon-on.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/icon.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/inhand-left.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/inhand-right.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/meta.json
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/on-equipped-BACKPACK.png
Labels: Sprites

Allow configuring gen_build_info.py through environment variables (#25162)
  Tools/gen_build_info.py
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Significantly nerf Deathnettles (#25068)
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Labels: none

Allow inspecting ID's and Health of people behind glass (#25163)
  Content.Shared/Examine/ExamineSystemShared.cs
Labels: C#

fix showhealthbars perms (#25157)
  Resources/clientCommandPerms.yml
Labels: none

Fix spelling errors in mechs.yml (#25168)
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Restore MonoOverlay (#25170)
  Resources/Prototypes/Decals/Overlays/grayscale.yml
Labels: none

Fix decal error spam (#25172)
  Content.Client/Decals/Overlays/DecalOverlay.cs
Labels: C#

Added "wink" and "tearfully smiles" emotes + more cry emote variations (#25129)
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Resources/Locale/en-US/chat/sanitizer-replacements.ftl
Labels: C#, FTL

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

The medical beret is real (#25176)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/meta.json
Labels: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Hoods and some chaplain's hats now hides hair (#25142)
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
Labels: none

Fixed Tipped ammo not being Spent (#25167)
  Content.Client/Weapons/Ranged/Components/SpentAmmoVisualsComponent.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.SpentAmmo.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
Labels: C#

Glassbox shatter resprite (#25136)
  Resources/Textures/Structures/Storage/glassbox.rsi/DamageOverlay_12.png
  Resources/Textures/Structures/Storage/glassbox.rsi/DamageOverlay_4.png
  Resources/Textures/Structures/Storage/glassbox.rsi/DamageOverlay_8.png
  Resources/Textures/Structures/Storage/glassbox.rsi/glass-4.png
  Resources/Textures/Structures/Storage/glassbox.rsi/meta.json
Labels: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Update weapons.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
Labels: none

Update core.yml
  Resources/Maps/core.yml
Labels: Map

Fix
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/Decals/Overlays/DecalOverlay.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Nutrition/EntitySystems/OpenableSystem.cs
  Content.Shared/Nutrition/Components/OpenableComponent.cs
  Content.Shared/Nutrition/EntitySystems/SharedOpenableSystem.cs
Labels: C#

fix
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Locale/en-US/botany/components/plant-holder-component.ftl
Labels: C#, FTL

Fix
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Effects/portal.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/audio.yml
  Resources/Textures/Effects/spookysmoke.rsi/meta.json
Labels: Sprites, FTL

Update attributions.yml
  Resources/Textures/Parallaxes/attributions.yml
Labels: none

Update attributions.yml
  Resources/Audio/Ambience/attributions.yml
Labels: none

Update silicon.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: none

Update Changelog.yml
  Resources/Changelog/Changelog.yml
Labels: none

Update ratvar.yml
  Resources/Prototypes/Entities/Mobs/Player/ratvar.yml
Labels: none

Update train.yml
  Resources/Prototypes/Maps/train.yml
Labels: none

map
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Prototypes/Maps/train.yml
Labels: none

Gib fix and starting gear
  Content.Server/Explosion/Components/OnTrigger/GibOnTriggerComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/_SF/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_SF/Entities/Objects/Misc/subdermal_implants.yml
Labels: C#

Hardhat infinite light
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/_SF/Entities/Objects/Misc/implanters.yml
Labels: none

Starting Gear & Gib code (#21)
  Content.Server/Explosion/Components/OnTrigger/GibOnTriggerComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/_SF/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_SF/Entities/Objects/Misc/subdermal_implants.yml
Labels: C#

I NEED MORE BULLETS
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: none

.github/labeler.yml:

"Map":
 - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
