Repository Space-Factory-14/space-factory-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map, Sprites, UI, C#, Docs, FTL

Vox names, species prototype cleanup, some cosmetic changes (#24994)
  Content.Shared/Humanoid/NamingSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Audio/Voice/Talk/attributions.yml
  Resources/Audio/Voice/Talk/vox.ogg
  Resources/Audio/Voice/Talk/vox_ask.ogg
  Resources/Audio/Voice/Talk/vox_exclaim.ogg
  Resources/Audio/Voice/Vox/vox_laugh.ogg
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/reagents/meta/biological.ftl
  Resources/Locale/en-US/species/namepreset.ftl
  Resources/Locale/en-US/species/species.ftl
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Datasets/Names/vox.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_sounds.yml
  Resources/Prototypes/Voice/speech_verbs.yml
  Resources/Prototypes/typing_indicator.yml
  Resources/Textures/Effects/speech.rsi/meta.json
  Resources/Textures/Effects/speech.rsi/vox0.png
Labels: Sprites, C#, FTL

Ranged Holosigns (#25120)
  Content.Server/Holosign/HolosignSystem.cs
Labels: C#

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Minor test fixes (#25174)
  Content.IntegrationTests/Tests/Construction/ConstructionActionValid.cs
  Content.IntegrationTests/Tests/Construction/ConstructionPrototypeTest.cs
Labels: C#

Add pun to diagnostic hud description (#25209)
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
Labels: none

Add events for TemperatureProtection and PressureProtection (#25165)
  Content.Server/Atmos/Components/PressureProtectionComponent.cs
  Content.Server/Atmos/Components/TemperatureProtectionComponent.cs
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
Labels: C#

Update criminal-records.ftl (#25229)
  Resources/Locale/en-US/criminal-records/criminal-records.ftl
Labels: FTL

Adds always powered variants of colored lights (#25185)
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
Labels: none

Fixes silver bars being whole stacks (#25239)
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
Labels: none

Makes clumsy not delete guns (#25243)
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
Labels: C#

Predict Injector (syringes), cleanup (#25235)
  Content.Client/Chemistry/Components/InjectorComponent.cs
  Content.Client/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Client/Chemistry/UI/InjectorStatusControl.cs
  Content.Server/Chemistry/Components/InjectorComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.cs
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Shared/Chemistry/Components/InjectorComponent.cs
  Content.Shared/Chemistry/Components/SharedInjectorComponent.cs
  Content.Shared/Chemistry/EntitySystems/SharedInjectorSystem.cs
  Resources/Locale/en-US/chemistry/components/injector-component.ftl
Labels: C#, FTL

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Updated disabler to have suitStorage tag under slots. (#25238)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

Fix spawn priority persistence on reconnect and restart (#25246)
  Content.Server/Database/ServerDbBase.cs
Labels: C#

Add French accent beret (#21430)
  Content.Server/Speech/Components/FrenchAccentComponent.cs
  Content.Server/Speech/EntitySystems/FrenchAccentSystem.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Textures/Clothing/Head/Hats/beret_french.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_french.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beret_french.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_french.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_french.rsi/meta.json
Labels: Sprites, C#

Fix: Holosigns can be stored again (#25249)
  Content.Server/Holosign/HolosignSystem.cs
Labels: C#

Allow thermomachines to exchange with air instead of inlet (#25247)
  Content.Server/Atmos/Piping/Unary/Components/GasThermoMachineComponent.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasThermoMachineSystem.cs
Labels: C#

Death acidifier fix (#25251)
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
Labels: C#

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Fix disposals bins not automatically flushing after an object is inserted (#25233)
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
Labels: C#

Clarify stripping logs (#25190)
  Content.Server/Strip/StrippableSystem.cs
Labels: C#

Sec & greysec jumpskirt fix (#25269)
  Resources/Textures/Clothing/Uniforms/Jumpskirt/Color/grey.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security_grey.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security_grey.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security_grey.rsi/icon.png
Labels: Sprites

Reduce eshield hp (#25258)
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Artifact hemoglobin trigger now accepts all sentient blood types (#25240)
  Resources/Locale/en-US/xenoarchaeology/artifact-hints.ftl
  Resources/Prototypes/XenoArch/artifact_triggers.yml
Labels: FTL

Automatic changelog update
  Resources/Changelog/Changelog.yml
  Resources/Changelog/Parts/doorRemote.yml
Labels: none

Door Remote Changelog Entry (#25144)
  Resources/Changelog/Parts/doorRemote.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Re-added shivs to crafting menus (#25094)
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/shiv.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
Labels: none

Lowered Ion Storm Reoccurence Delay to 20 (#25135)
  Resources/Prototypes/GameRules/events.yml
Labels: none

Color Tipped Ammo (#25103)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/ammo_casing.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/ammo_casing.rsi/tip.png
Labels: Sprites

Add overlay decals for mini tiles and bricks (#24949)
  Resources/Prototypes/Decals/Overlays/grayscale.yml
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_box.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_corner_ne.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_corner_nw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_corner_se.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_corner_sw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_end_e.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_end_n.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_end_s.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_end_w.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_line_e.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_line_n.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_line_s.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_line_w.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/meta.json
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_box.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_corner_ne.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_corner_nw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_corner_se.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_corner_sw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_end_e.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_end_n.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_end_s.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_end_w.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_inner_ne.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_inner_nw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_inner_se.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_inner_sw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_line_e.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_line_n.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_line_s.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_line_w.png
Labels: Sprites

Update Core (#24862)
  Resources/Maps/core.yml
  Resources/Prototypes/Parallaxes/core.yml
  Resources/Textures/Parallaxes/attributions.yml
  Resources/Textures/Parallaxes/core_planet.png
  Resources/Textures/Parallaxes/meta.json
Labels: Map

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Buyable Jani Trolley (#25139)
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/icon-cart.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/meta.json
Labels: Sprites

Added display for amount of hits left in stun batons/stun prods. (#25141)
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Resources/Locale/en-US/weapons/melee/melee.ftl
Labels: C#, FTL

autolatheable air tanks (#25130)
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
Labels: none

Fix pointing arrow trajectory (#25061)
  Content.Client/Pointing/PointingSystem.Visualizer.cs
Labels: C#

.github/labeler.yml:

"Map":
 - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
